.place__title {
  max-width: 460px;
  font-size: 72px;
  font-weight: 900;
  font-style: normal;
  line-height: 76px;
  text-align: left;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
@media screen and (max-width: 1024px) {
  .place__title {
      max-width: 440px;
  }
}
@media screen and (max-width: 768px) {
  .place__title {
      max-width: 340px;
      font-size: 42px;
      line-height: 46px;
      letter-spacing: 1px;
  }
}
@media screen and (max-width: 320px) {
  .place__title {
      max-width: 288px;
      margin: 0 16px 0 16px;
      font-size: 32px;
      line-height: 35px;
  }
}
