.places {
  max-width: 984px;
  margin: 0 auto;
  background-color: #2A2C2F;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 80px;
}
@media screen and (max-width: 1024px) {
  .places {
    width: 928px;
    margin: 0 48px;
  }
}
@media screen and (max-width: 768px) {
  .places {
    width: 720px;
    margin: 0 24px;
    gap: 73px;
  }
}
@media screen and (max-width: 320px) {
  .places {
    width: 320px;    
    margin: 0;
    gap: 50px;
  }
}