.header__lang {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 18px;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  color: #fff;
  text-decoration: none;
}
@media screen and (max-width: 321px) {
  .header__lang {
      font-size: 18px;
      line-height: 20px;
  }
}
