.footer__links {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 18px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  font-family: 'Inter', sans-serif;
  color: #fff;
}
@media screen and (max-width: 320px) {
  .footer__links {
    max-width: 158px;
    margin: 0;
    display: inline-flex;
    flex-wrap: wrap;
    font-size: 24px;
    line-height: 24px;
  }
}