.cover {
    margin: 92px auto;
    padding: 0;
    max-width: 1184px;
    height: 740px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-image: url(../../../images/cover-trains.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
@media screen and (max-width: 1024px) {
  .cover {
    max-width: 1024px;
    height: 640px;
    }
}
@media screen and (max-width: 768px) {
  .cover {
    max-width: 768px;
    height: 480px;
    }
}
@media screen and (max-width: 320px) {
  .cover {
    width: 320px;
    height: 200px;
    }
}