.cover__title {
  max-width: 560px;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  font-style: normal;
  margin: 245px auto 32px;
  padding: 0;
  font-family: 'Inter', sans-serif;
  color: white;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .cover__title {
    width: 560px;
    margin: 195px 232px 32px;
  }
}
@media screen and (max-width: 768px) {
  .cover__title {
    width: 560px;
    margin: 115px 104px 32px;
  }
}
@media screen and (max-width: 320px) {
  .cover__title {
    width: 288px;
    font-size: 32px;
    line-height: 35px;
    margin: 33px 16px 16px;
  }
}