.photogrid {
  max-width: 1184px;
  width: calc(100% - 2 * 48px);
  margin: 0 auto 92px auto;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: #2a2c2f;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
}
@media screen and (max-width: 1024px) {
  .photogrid {
      grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 769px) {
  .photogrid {
      margin-bottom: 88px;
      max-width: 720px;
      width: calc(100% - 2 * 24px);
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(6, 1fr);
  }
}
@media screen and (max-width: 321px) {
  .photogrid {
      margin-bottom: 64px;
      max-width: 288px;
      width: calc(100% - 2 * 16px);
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(12, 1fr);
  }
}
